main {
    section {
        .product-form, .contact-form {
            color: $color-tertiary;
            background-color: $color-white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            max-width: 450px;
            .form__logo {
                margin: 25px;
                font-family: 'Lobster', cursive;
                color: $color-secundary;
                user-select: none;
                font-size: 4rem;
                &:hover {
                    color: $color-primary;
                }
            }
            .productForm {
                align-items: start;
                width: 80%;
                height: 65%;
                display: flex;
                flex-direction: column;
                font-size: 1.2em;
            }
        }
    }
}