@import "../../assets/scss/main.scss";
.nav__bar--bottom{
    background-color: $color-secundary;
    font-size: $defaultFontSize;
    opacity: calc(77%);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .catalogue {
        overflow: hidden;
        margin-left: 10px; 
        .catalogue__button {
            background-color: $color-primary;
            color: $color-secundary;
            font-weight: bold;
            border: 0.13rem solid $color-lightest-gray;
            outline: none;
            padding: 10px;
            border-radius: 5px;
            font-size: $defaultFontSize;
            cursor: pointer;   
            &:hover{
                background-color: $color-secundary;
                color: $color-primary;
            }
        }
        &:hover{
            background-color: $color-secundary;
            color: $color-primary;
            .catalogue__menu {
                display: block; 
            }
        }
        .catalogue__menu {
            display: none;
            position: absolute;
            background-color: $color-lightest-gray;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            &:hover {
                display: block;
                z-index: 10;
            }
            a {
                float: none;
                color: $color-secundary;
                padding: 12px 16px;
                letter-spacing: 1px;
                text-decoration: none;
                display: block;
                text-align: left;
                &:hover {
                    background-color: $color-secundary;
                    color: $color-primary;
                }
            }
        }
    }
    a:hover {
        background-color: $color-secundary;
        color: $color-primary;
    }
    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        .cart__button {
            font-weight: bold;
            background-color: $color-primary;
            color: $color-secundary;
            border: 0.13rem solid $color-lightest-gray;
            padding: 10px;
            border-radius: 5px;
            font-size: $defaultFontSize;
            cursor: pointer;
            margin-right: 10px;
            &:hover {
                background-color: $color-secundary;
                color: $color-primary;
            }
        }
    }
}