@import "../../assets/scss/main.scss";
main {
    //position: relative;
    //z-index: 1;
    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .section__div { 
            width: 100%;
            height: 100px;
            color: $color-secundary;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                letter-spacing: 6px;
            }
            p {
                margin-top: 5px;
                letter-spacing: 1px;
            }
        }
    }
}