@import "../../assets/scss/main.scss";
main {
    height: 100%;
    width: 100%;
    section {
        margin: 1% 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .section__div { 
            width: 80%;
            height: 100px;
            color: $color-secundary;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1 {
                letter-spacing: 6px;
            }
            p {
                margin-top: 5px;
                letter-spacing: 1px;
            }
        }
    }
}