$color-primary: #00ffae;
$color-secundary: #450a7f;
$color-tertiary: #430043;
$color-fourth: #b75eb7;
$color-white: #fff;
$color-lightest-gray: #f9f9f9;
$color-light-gray: #e5e5e5;
$color-black: #141414;
$color-red: #ff1f1f;
$defaultFontSize: 1rem;
$navLogoFontSize: 2.6rem;