@import "../../assets/scss/main.scss";

.footer {
    background-color: $color-secundary;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    width: 100%;
    padding: 1.5% 0;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    p {
        color: $color-primary;
        user-select: none;
        font-size: 1.2rem;
        letter-spacing: 3px;
    }
    .footer--links{
        display: block;
        color: $color-light-gray;
        text-decoration: none;
        padding: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer__section {
        width: 400px;
        height: 80%;   
        text-align: center;
        font-size: $defaultFontSize;
        .footer__logo {
            font-family: 'Lobster', cursive;
            color: $color-primary;
            user-select: none;
            font-size: 3.5rem;
            margin-top: -15px;
        }
    }
}